/* GLOBAL CSS */
html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
}
/*ACTIVE STYLE*/
.nav-link.active {
  color: #0dcaf0 !important;
  border-bottom: 2px solid #0dcaf0;
}

/* body section */
.bg-body-color {
  padding: 80px 0 0 0;
  background-color: #0d1117;
}

/* navbar */
.my-navbar {
  background-color: #404040;
}

/* home icons */
.social-icon {
  width: 30px;
  margin: 5px;
  position: relative;
  bottom: 5px;
  transition: all 0.1s ease-in 0s;
}
.social-links {
  margin: 0;
  padding: 0;
}
.social-icon:hover {
  bottom: 10px;
  box-shadow: 0px 0px 10px #49adff;
  transform: scale(1.2);
}

/* skills section */
.skills-page{
  background: #080d14;
  
}

.skills-text{
  position: relative;
  z-index: 2;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:100;
}

.skills2-text{
  color :#000;
  font-weight:bolder;
  font-family:'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
  position: relative;
  bottom: 35px;
  opacity: 0.5
}

/* Image diamond */
.img-box {
  position: relative;
  width: 280px;
  height: 280px;
}

.skill-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(45deg);
}

.diamond {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  border: 2px solid #7be0ff;
  transform: rotate(45deg);
}

.d2 {
  transform: rotate(45deg) translate(-50px, -50px);
}

.d3 {
  transform: rotate(45deg) translate(50px, 50px);
}

/* Progress bars */
.skills-page .progress {
  --bs-progress-height: 6px;
  background: #eee;
}

.progress-bar {
  background: #9acd32;
  animation: fill 1.5s ease;
}

.skill-95 {
  width: 95%;
}
.skill-80 {
  width: 80%;
}
.skill-85 {
  width: 85%;
}
.skill-75 {
  width: 75%;
}
.skill-90 {
  width: 90%;
}
.skill-85 {
  width: 85%;
}

@keyframes fill {
  from {
    width: 0;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .img-box {
    margin-bottom: 40px;
  }
}


/* projects */
.projects-page {
  min-height: 100vh;   /* full screen height */
  display: flex;
  align-items: center; /* vertically center */
  background-color: #0d1117; /* dark bg (change if needed) */
}

.projects-page {
  transition: all 0.5s ease;
}


.projects-page {
  background: #0d1117;
}

.project-card {
  background: #161b22;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.4s ease;
}

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 20px 40px rgba(0, 255, 255, 0.25);
}

.project-info {
  padding: 15px;
  color: #999;
}



.fade-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact */
.contact-section {
  min-height: 100vh;
  background: #1c1c1c;
  display: flex;
  align-items: center;
}

.contact-title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Left boxes */
.contact-box {
  background: #222;
  padding: 18px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
}

.contact-box i {
  font-size: 22px;
  color: #bbb;
}

.contact-box span {
  color: #ccc;
}

.contact-box:hover {
  background: #2a2a2a;
  transform: translateX(5px);
}

/* Vertical line */
.vertical-line {
  width: 2px;
  height: 300px;
  background: #555;
}

/* Form */
.contact-input,
.contact-textarea {
  background: #222;
  border: none;
  color: #fff;
  margin-bottom: 20px;
  padding: 14px;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
  color: #777;
}

.contact-input:focus,
.contact-textarea:focus {
  background: #222;
  color: #fff;
  box-shadow: none;
}

.contact-textarea {
  height: 140px;
  resize: none;
}

/* Button */
.contact-btn {
  background: #818686;
  color: #000;
  padding: 10px 30px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.contact-btn:hover {
  background: #666868;
}


/*footer*/
footer{
  background-color: #1c1c1c;
}
